location ~ \.php$ {
        # 同个pod里面，直接使用127.0.0.1访问对应php容器
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;

        #fastcgi_param  SCRIPT_FILENAME  /container/path/to/code/dir$fastcgi_script_name;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
}